* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik";
  line-height: 1;
  font-weight: 400;
  color: #555;
}


/*****************

GENERAL COMPONENTS

******************/
/*the container for the website content*/
.container {
  position: relative;
  margin: auto;
  height: 100vh;
  width: 60%;
  padding: 10px;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 35rem;
  max-width: 100%;
  height: auto;
  padding: 1.2rem;
  border-radius: 1.2rem;
  box-shadow: 0rem 0rem 2rem 0.01rem #ffd43b;
}

.general-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input-box {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.form-input {
  height: 3.2rem;
  border: 0.15rem solid #ffd43b;
  border-radius: 2.4rem;
  padding: 0 1rem;
}

.form-input:active, .form-input:focus {
  font-size: 13px;
  border: 0.2rem solid #fab005;
  outline: none;
  transition: border 100ms linear;
}

.action-button {
  display: block;
  background-color: #fcc419;
  border: none;
  font-size: 1.8rem;
  border-radius: 1.2rem;
  margin: 0 auto;
  width: 80%;
  color: white;
  padding: 1.2rem 0;
}

/*text header for the top of forms. e.g. signup*/
.centered-form-header {
  display: table;
  font-weight: 600;
  font-size: 3.0rem;
  margin: 0 auto;
  padding-bottom: 4.0rem;
  padding-top: 2.4rem;
}

form label {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.field-label {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.form-error {
  color: red;
  margin: auto;
  font-size: 1.2rem;
}


/********************
PLAN EDITOR COMPONENT
********************/
.plan-editor-container {
  margin: auto;
  width: 100%;
  border: 2px yellow solid;
  overflow: hidden;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  padding: 5rem 0;
  text-align: center;
  line-height: 5rem;
}

.plan-day-tile {
  background-color: green;
  height: 5rem;
  width: 5rem;
  color: white;

}

.plan-day-tile:hover {
  cursor: pointer;
}