* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik";
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/*****************************************

AUTHENTICATION COMPONENTS (SignIn, SignUp)

******************************************/
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input-box {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.auth-method-type {
  display: table;
  font-weight: 600;
  font-size: 3.0rem;
  margin: 0 auto;
  padding-bottom: 4.0rem;
  padding-top: 2.4rem;
}

form label {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
}

.auth-box {
  margin: auto;
  max-width: 35rem;
  border-radius: 1.2rem;
  box-shadow: 0rem 0rem 2rem 0.01rem #ffd43b;
}

.auth-action-button {
  display: block;
  background-color: #fcc419;
  border: none;
  font-size: 1.8rem;
  border-radius: 1.2rem;
  margin: 0rem auto;
  margin-bottom: 1.2rem;
  width: 80%;
  color: white;
  padding: 1.2rem 0;
}

.auth-input {
  height: 3.2rem;
  border: 0.15rem solid #ffd43b;
  border-radius: 2.4rem;
  padding: 0 1rem;
}

.auth-input:active, .auth-input:focus {
  font-size: 13px;
  border: 0.2rem solid #fab005;
  outline: none;
  transition: border 100ms linear;
}

.auth-error {
  color: red;
  margin: auto;
  font-size: 1.2rem;
}